.datatable {
	
}
.datatable row {
	
}
.datatable-row:hover {
	
}
.datatable-cell {
	vertical-align: middle;
}
.datatable-cell-value {
	user-select:text;
	height:100%;
}
.datatable-column {
	
}
.datatable-cell-selector {
	width:30px !important;
}
.datatable-cell-selector {
	
}
.datatable-cell-value-selector {
	width:14px;
	height:14px;
}
.hideColumn {
	display:none;
}
.datatable-selector {
	
}
.datatable-header-column-selector {
	
}