.tableView {
	height:85vh;
	overflow-y: scroll;
}
.datatable thead th { 
	position: sticky; 
	top: -20px;
	height:60px;
	vertical-align: middle;
	background-color: var(--color-surface);
}
.datatable tfoot td { 
	position: sticky; 
	bottom:-50px;
	height:60px;
	vertical-align: middle;
	background-color: var(--color-surface);
}
tfoot {
	width:100% !important;
}
.datatable row {
	
}
.datatable-row:hover {
	
}
.datatable-cell {
	vertical-align: middle;
}
.datatable-cell-value {
	user-select:text;
	height:100%;
}
.datatable-column {
	
}
.datatable-cell-selector {
	width:30px !important;
}
.datatable-cell-selector {
	
}
.datatable-cell-value-selector {
	width:14px;
	height:14px;
}
.hideColumn {
	display:none;
}
.datatable-selector {
	
}
.datatable-header-column-selector {
	
}