.config-tools {
	border-bottom: none;
	border-width:1px;
	border-color:#666;
	background-color: transparent;
	height:60px !important;
	width: 100%;
}
.config-tools section {
	
}
.config-tools button {
	margin-right:8px;
	height:25px;
	width:50px !important;
	background-color:#F34;
	color:#FFF;
	border:none;
}
.config-tools button:hover {
	background-color:rgb(167, 35, 35);
}
.config-tools .material-icons {
	font-size:1.3em;
	vertical-align:middle !important;
}
.config-tools .disabled {
	background-color: #555;
}
.datatable-cell-value-selector {
	accent-color:#6aff5c !important;
}