.datepicker-picker {
	box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.4) !important;
}
.datepicker .view-switch {
	color:#7885f7 !important;
}
.datepicker button {
	background-color: #252525 !important;
}
.datepicker-picker {
    background-color: #222 !important;
    color: #BBB !important;
}
.datepicker-title {
	background-color: #222 !important;
}
.datepicker-controls {
	background-color: #222 !important;
}
.datepicker-controls .prev-btn, .datepicker-controls .next-btn {
	color:#FFF !important;
}
.datepicker-grid .focused {
	background-color: var(--color-primary) !important;
	border-radius: 8px;
}
.datepicker-cell {
	transition: 0.1s;
}
.datepicker-cell:hover {
	background-color: var(--color-secondary) !important;
	border-radius: 8px;
	transition: 0.2s;
}
.datepicker-footer button {
	color:#7885f7 !important;
	border-radius:20px !important;
}