html {
    overflow-y: hidden;
    font-family: arial;
}
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #1b1c1d !important;
    color: #ffffff;
}