.navbar {
	background: #181818;
	padding-left: 16px;
	height:65px;
}
.navbar a {
	margin-left: 15px;
	text-decoration: none;
	color: #CCC;
	font-size: 18px;
	user-select: none;
}
.navbar a:hover {
	text-decoration: underline;
	border:none !important;
}