.limitedContainer {
    flex: 1;  /* Nimmt den verfügbaren Platz */
    overflow-y: auto;
    padding:0px 25px;
}
#actionFooter {
    height: 75px;  /* Ändere von max-height zu height */
    flex-shrink: 0;  /* Verhindert das Schrumpfen */
    padding: 0px 25px;
    gap: 16px;
    margin-bottom:-10px;
    background-color:rgba(255,255,255,0.05);
    border-radius: 16px;
}
#actionFooter button {
    width:120px;
    transition: 0.1s;
}
#actionFooter button:hover {
    filter:brightness(0.7);
    transform:scale(1.05);
    transition: 0.1s;
}